body{
    margin: 0;
}

header{
    justify-content: flex-end;
    background-color: #2b2b2b;
    color: #fff;
    padding: 35px;
    font-size: 30px;
}

header a {
    text-decoration: none;
    margin-right: 25px;
    color: #fff;
    padding: 10px;
}

ul {
    list-style: none;
    text-align: end;
}

li {
    float: right;
}

a:hover {
    color: #a3a3a3;
    font-size: 35px;
}