.button{
    width: 100%;
}

#table table{
    margin: auto;
    width: 50%;
}

td{
    text-align: center;
    width: 10%;
}

#present{
    width: 50%;
    height: 40px;
    margin: auto;
    background: rgb(243, 243, 243);
    border: 1px solid rgb(202, 202, 202);
    padding-left: 10px;
}